<section>
    <div class="about-section px-52 text-justify">
        <h2 class="mt-16 underline text-center">About Me</h2>
        <div class="about-sectionn"> 
        <p class="mt-16">
          Hi, I'm Suryansh Tripathi, a Computer Science Undergrad. Self-motivated and a fast learner, 
          passionate about working with tech companies and keeping up with the latest technology trends. Objectives are to build skills 
          and gain experience through different avenues to become a change-maker. I am highly motivated to continue expanding my skills and 
          knowledge in the field of computer science. With a strong academic foundation and practical experience, I am eager to contribute to 
          the ever-evolving technology industry and make a positive impact in the digital world.    
        </p>
      
        <h3 class="mt-12">Skills</h3>
        <ul class="list-disc">
          <li class="list-none underline mb-2">Hard skill</li>
          <li>Full Stack Development</li>
          <li>HTML, CSS, Nodejs, Express</li>
          <li>Database Technology (MongoDB, MySQL)</li>
          <li>Programming Languages - C, C++, Java, Python</li>

          <li class="list-none underline mb-2 mt-4">Soft skill</li>
          <li>Strategic planning</li>
          <li>Decision making</li>
          <li>Communication</li>
          <li>Problem-solving</li>
        </ul>
      
        <h3 class="mt-12">Education</h3>
        <p>
            I am currently pursuing my Bachelor's degree in Computer Science from Amity University, Noida. With a current CGPA of 8.94 . 
            <br>
            Prior to joining Amity University, I completed my 10+2 education with a focus on Physics, Chemistry, and Mathematics (PCM) 
            from Gorakhpur. This foundation in PCM has provided me with a solid background in analytical thinking and problem-solving 
            skills, which I have been able to apply in my computer science coursework.
        </p>
      
        <h3 class="mt-12">Experience</h3>
        <p>
            I am currently interning at ONGC as a web developer, where I am involved in developing and maintaining web applications. 
            This role has provided me with hands-on experience in frontend and backend development, as well as exposure to various web 
            technologies and frameworks.<br><br>
            Prior to my internship, I gained valuable experience through an in-house practical training program focused on web development. 
            During this training, I successfully developed a full-stack online food delivery site. This project allowed me to apply my 
            knowledge of HTML, CSS, JavaScript, and database management to create a functional and user-friendly web application.
        </p>
        </div>
      </div>      
</section>