<section class="work-section text-justify mb-4">
    <h2 class="mt-16 underline text-center">My Experience</h2>
    <div class=" work-sectionn flex mt-16">
        <div>
            <img src="img/Experience/Cloud4c_logo.jpeg" alt="" class="work-img experience-img1">
        </div>
        <div class="work-cont ml-12">
            <h3>Cloud4c Services</h3>
            <h3>Graduate Engineer Trainee</h3>
            <br>
            <h4>22 July 2024 - Present</h4>
            <br>
            <span class="mt-4">
                &bull; Windows Server and Linux Administration: Gained hands-on experience in managing and configuring both Windows Server and Linux environments, including tasks like user management, permissions, and system updates. <br>
                &bull; Cloud Platform Proficiency: Developed skills in using major cloud platforms, including Azure, AWS, GCP, OCI, and VMware, focusing on deploying, managing, and monitoring cloud-based infrastructure. <br>
                &bull; Virtualization Techniques: Learned to use VMware for creating and managing virtual machines, understanding the principles of virtualization, and its role in modern IT infrastructure. <br>
                &bull; Database Management: Acquired knowledge in setting up and managing databases, including tasks like database creation, querying, backup, and restoration across different platforms. <br>
                &bull; Networking Fundamentals: Gained an understanding of networking concepts essential for infrastructure management, including setting up virtual networks, VPNs, and firewalls. <br>
                &bull; Security Best Practices: Emphasized learning on securing IT environments, including implementing firewalls, encryption, and monitoring systems to safeguard data and infrastructure. <br>
            </span>
        </div>
    </div>
    <div class=" work-sectionn flex mt-28">
        <div>
            <img src="img/Experience/ongc_logo.png" alt="" class="work-img experience-img2">
        </div>
        <div class="work-cont ml-12">
            <h3>Oil and Natural Gas Corporation Ltd.</h3>
            <h3>Summer Training</h3>
            <br>
            <h4>29 May 2023 - 30 June 2023</h4>
            <br>
            <span class="mt-4">
                &bull; Build a clone for the official site DISHA used by ONGC for file repo <br>
                &bull; Learned about the IBM BPM and the designing part <br>
                &bull; Helped portal management team in creating UI designs <br>
                &bull; Got the formal overview of the Active Service Directory <br>
                &bull; authentication system
            </span>
        </div>
    </div>
</section>