<section class="home flex justify-around items-center">
    <div class="home-content mt-12">
        <h3>Hello, It's Me</h3>
        <h1>Suryansh Tripathi</h1>
        <h3>And I'm a <span class="text"></span></h3>
        <p>I'm a webpage designer with some experience as an intern.
            <br>expertise is to create full stack website with amazing frontend designs.
        </p>
        <div class="home-sci">
            <a href="https://www.facebook.com/itsmesuryanshtripathi" target="_blank" style="--i:6"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.linkedin.com/in/suryanshtripathi" target="_blank" style="--i:7"><i class='bx bxl-linkedin' ></i></a>
            <a href="https://github.com/suryanshtripathi1" target="_blank" style="--i:8"><i class='bx bxl-github' ></i></a>
            <a href="https://www.instagram.com/its_me_suryanshtripathi/" target="_blank" style="--i:9"><i class='bx bxl-instagram' ></i></a>
        </div>
        <a href="img/Resume_Suryansh_Tripathi.pdf" download class="btn-box">Download Resume</a>
    </div>
    <div class="home-content mt-12">
        <img src="img/bg_img.png" alt="" class="bg_img h-96 rounded-full">
    </div>
</section>