<section class="work-section px-52 text-justify mb-4">
    <h2 class="mt-16 underline text-center">My Work</h2>
    <div class=" work-sectionn flex mt-16">
        <div>
            <img src="img/Food_house.png" alt="" class="work-img1">
        </div>
        <div class="work-cont ml-12">
            <h3>Food House</h3>
            <span class="mt-4">
                I developed a web application using Node.js, Express, and MongoDB for an online food delivery service. 
                The project incorporated a robust passport authentication system to ensure secure user registration and login functionality. 
                With the help of AJAX, the site offered real-time updates of order status without the need for page refreshes, providing a 
                seamless user experience.<br><br>
                By leveraging the power of Node.js and Express, I implemented server-side rendering to dynamically generate web pages, 
                optimizing performance and responsiveness. The integration with MongoDB enabled efficient data storage and retrieval for
                menu items, user profiles, and order details.<br><br>
                Through this project, I honed my skills in full-stack web development, integrating multiple technologies to create a 
                functional and user-friendly online food delivery platform.
            </span>
            <br>
            <a href="https://foodhouse.onrender.com" target="_blank" class="btn-project">See More</a>
        </div>
    </div>
    <div class="work-sectionn flex mt-28">
        <div>
            <img src="img/File_hub.png" alt="" class="work-img2">
        </div>
        <div class="work-cont ml-12">
            <h3>File Hub</h3>
            <span class="mt-4">
                I developed a web application using Node.js, Express, and MongoDB called DISHA (Digital Information Sharing and Archiving), 
                which is a file repository system designed for ONGC (Oil and Natural Gas Corporation). The project incorporates a robust 
                passport authentication system to ensure secure access to the repository.<br><br>
                DISHA provides ONGC employees with a centralized platform to manage and store files effectively. Users can create, view, and 
                delete files securely, maintaining data integrity and confidentiality. The integration of Node.js, Express, and MongoDB 
                enables efficient storage and retrieval of files, ensuring a smooth user experience.<br><br>
                By leveraging the power of these technologies, I successfully created a reliable and user-friendly file repository system, 
                helping ONGC streamline their document management process and enhance collaboration among employees.
            </span>
            <br>
            <a href="https://filehub.onrender.com" target="_blank" class="btn-project">See More</a>
        </div>
    </div>
    </div>
    <div class="work-sectionn flex mt-28">
        <div>
            <img src="img/Portfolio.png" alt="" class="work-img3">
        </div>
        <div class="work-cont ml-12">
            <h3>Portfolio</h3>
            <span class="mt-4">
                I developed a personal portfolio website using Node.js, Express, and MongoDB, showcasing my work and skills in web 
                development. The website features a clean and intuitive design with sections for home, about, projects, and contact.<br><br>
                In the home section, visitors can get an overview of my background and expertise, download my resume. The about section provides detailed 
                information about my education, experience, and technical skills. The projects section showcases some of my notable web 
                development projects, allowing visitors to explore and learn more about my work.<br><br>
                The contact section enables users to reach out to me for interviews or collaborations. It includes a contact form where 
                visitors can submit inquiries or messages.
            </span>
            <br>
            <a href="https://www.suryanshtripathi.online/" class="btn-project">See More</a>
        </div>
    </div>
</section>