.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #081b29;
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: black;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-weight: 500;
  font-size: large;
  opacity: 0;
  -webkit-animation: slideTop 5s ease forwards;
          animation: slideTop 5s ease forwards;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}

nav ul li a:hover {
  color: #0ef;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  -webkit-animation: slideRight 1s ease forwards;
          animation: slideRight 1s ease forwards;
}

.logo:hover {
  color: #0ef;
}

@media (max-width: 1023px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #111827;
    z-index: 9999;
  }

  .navbar-collapse.show ul {
    flex-direction: column;
    margin: auto;
  }

  .navbar-collapse.show ul li {
    margin: 10px 0;
  }

  .logo {
    margin-right: auto;
    margin-left: 40px;
  }

  .hid-block {
    margin-right: 40px;
  }
}

.home {
  padding: 72px 45px;
  margin-bottom: 11px;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  -webkit-animation: slideBottom 1s ease forwards;
          animation: slideBottom 1s ease forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  -webkit-animation: slideTop 1s ease forwards;
          animation: slideTop 1s ease forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  -webkit-animation: slideRight 1s ease forwards;
          animation: slideRight 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  -webkit-animation: slideLeft 1s ease forwards;
          animation: slideLeft 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transform: 0.5s ease;
  opacity: 0;
  -webkit-animation: slideLeft 1s ease forwards;
          animation: slideLeft 1s ease forwards;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: slideTop 1s ease forwards;
          animation: slideTop 1s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  box-shadow: 0 0 5px #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.bg_img:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

@media (max-width: 607px) {
  .home {
    display: block;
    margin-top: -70px;
  }

  .bg_img {
    margin: auto;
    margin-top: 70px;
  }
}

.about-section {
  font-size: 17px;
  padding: 35px;
}

.about-section h3 {
  color: #0ef;
}

.list-none {
  font-size: 24px;
}

.about-sectionn {
  opacity: 0;
  -webkit-animation: slideTop 1s ease forwards;
          animation: slideTop 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (max-width: 607px) {
  .about-section {
    margin-top: -50px;
  }

  .about-sectionn p {
    margin-top: 30px;
  }
}

.work-section {
  padding: 35px;
}

.work-img1 {
  width: 50rem;
  height: 20rem;
  border-radius: 9PX;
  border: 2px solid #0ef;
}

.work-img2 {
  width: 45rem;
  height: 20rem;
  border-radius: 9PX;
  border: 2px solid #0ef;
}

.work-img3 {
  width: 45rem;
  height: 20rem;
  border-radius: 9PX;
  border: 2px solid #0ef;
}

.work-cont h3 {
  color: #0ef;
}

.btn-project {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 9px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 2rem;
}

.btn-project:hover {
  background: rgb(10, 184, 196);
}

.work-sectionn {
  opacity: 0;
  -webkit-animation: slideLeft 1s ease forwards;
          animation: slideLeft 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (max-width: 740px) {
  .work-sectionn {
    display: block;
  }

  .work-section h2 {
    margin-top: 2px;
  }

  .work-img {
    margin-bottom: 25px;
  }

  .work-img1 {
    margin-top: -30px;
  }

  .work-cont {
    margin-left: 0px;
  }
}

.contact {
  margin-bottom: 66px;
}

.cont-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  opacity: 0;
  -webkit-animation: slideRight 1s ease forwards;
          animation: slideRight 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.cont-logo:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.cont-content {
  opacity: 0;
  -webkit-animation: slideRight 1s ease forwards;
          animation: slideRight 1s ease forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.cont-content h4 {
  color: #0ef;
}

.cont-content p {
  margin: 0%;
}

.bttn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.bttn:hover {
  background: rgb(10, 184, 196);
}

@media (max-width: 847px) {
  .contact h2 {
    margin-top: 34px;
  }

  .main-panel {
    display: block;
  }

  .left-panel {
    margin-bottom: 40px;
    margin-top: -55px;
  }

  .left-panel div {
    justify-content: center;
  }

  .right-panel {
    width: 375px;
    margin-bottom: 40px;
    margin: auto;
  }

  .border-b-2 {
    width: auto;
  }
}

footer {
  background-color: black;
  width: -webkit-fill-available;
  text-align: center;
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

