.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body{
    background-color: #081b29;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  //layout
  nav{
    background-color: black;
  }

  nav ul li{
    list-style: none;
    margin: 0 23px;
  }

  nav a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-weight: 500;
    font-size: large;
    opacity: 0;
    animation: slideTop 5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }

  nav ul li a:hover{
    color: #0ef
  }

  .logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
  }

  .logo:hover{
    color: #0ef;
  }

  //home
  .home{
    padding: 70px 10% 0;
  }

  .home-content{
    max-width: 600px;
  }

  .home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }


  .home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }

  .home-content h3 span{
    color: #0ef;
  }

  .home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  }

  .home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }

  .home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
    }

    .home-sci a:hover{
      background: #0ef;
      color: #081b29;
      box-shadow: 0 0 20px #0ef;
    }

    .btn-box{
      display: inline-block;
      padding: 12px 28px;
      background: #0ef;
      border-radius: 40px;
      font-size: 16px;
      color: #081b29;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 600;
      opacity: 0;
      animation: slideTop 1s ease forwards;
      animation-delay: 2s;
      box-shadow: 0 0 5px #0ef;
    }

    .btn-box:hover {
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan;
    }

  //about
.about-section{
  font-size: 17px;
}

  .about-section h3{
    color: #0ef;
  }

  .list-none{
    font-size: 24px;
  }

  .about-sectionn{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
  }

  //projects
  .work-img1{
    width: 50rem;
    height: 20rem;
    border-radius: 9PX;
    border: 2px solid #0ef;
  }

  .work-img2 {
    width: 45rem;
    height: 20rem;
    border-radius: 9PX;
    border: 2px solid #0ef;
  }

  .work-img3 {
    width: 45rem;
    height: 20rem;
    border-radius: 9PX;
    border: 2px solid #0ef;
  }

  .work-cont h3{
    color: #0ef;
  }
  
  .btn-project{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 9px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2rem;
  }

  .btn-project:hover{
    background: rgb(10, 184, 196);
  }

  .work-sectionn{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }

  //contactme
  .cont-logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  }

  .cont-logo:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
  }

  .cont-content{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.5s;
  }

  .cont-content h4{
    color: #0ef;
  }

  .cont-content p{
    margin: 0%;
  }

  .bttn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
  }

  .bttn:hover{
    background: rgb(10, 184, 196);
  }

  @keyframes slideRight{
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slideLeft{
    0%{
      transform: translateX(100px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slideTop{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes slideBottom{
    0%{
      transform: translateY(-100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }

